In [1]:
import sys
import pandas as pd
import numpy as np

print('python version :' + sys.version)
print('pandas version :' + pd.__version__) # its version is hidden
print('numpy version :' + np.__version__) # its version is hidden

python version :3.6.6 |Anaconda custom (64-bit)| (default, Jun 28 2018, 11:27:44) [MSC v.1900 64 bit (AMD64)]
pandas version :0.23.4
numpy version :1.15.1

In [4]:
dframe = pd.DataFrame({
    'Country': "Bra Rus Ind chi SA".split(' '),
    'Currency': "$$$ LLL ### @@@ &&&".split(' '),
    'Population': (11126, 21235, 34412, 42747, 98818)
})
dframe

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Currency</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bra</td>
      <td>$$$</td>
      <td>11126</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rus</td>
      <td>LLL</td>
      <td>21235</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Ind</td>
      <td>###</td>
      <td>34412</td>
    </tr>
    <tr>
      <th>3</th>
      <td>chi</td>
      <td>@@@</td>
      <td>42747</td>
    </tr>
    <tr>
      <th>4</th>
      <td>SA</td>
      <td>&amp;&amp;&amp;</td>
      <td>98818</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
# if you wanna give a header name to index column(but this looks ugly)
dframe.index.name='INDEX'
print(dframe)

      Country Currency  Population
INDEX
0         Bra      $$$       11126
1         Rus      LLL       21235
2         Ind      ###       34412
3         chi      @@@       42747
4          SA      &&&       98818

In [34]:
#making header prettier
dframe.index.name = "AAA"  # creates the above code, {L1= "",c1,c2,c3},{L2=c0,'','',''}
dframe.columns.name = dframe.index.name  #copies co to row 1 ,i.e {L1=c0,c1,c2,c3},{L2=c0,'','',''}               
dframe.index.name = None  # deletes the extra row i.e now {l1=c0,c1,c2,c3},{}
print(dframe)
dframe

AAA Country Currency  Population
0       Bra      $$$       11126
1       Rus      LLL       21235
2       Ind      ###       34412
3       chi      @@@       42747
4        SA      &&&       98818

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>AAA</th>
      <th>Country</th>
      <th>Currency</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bra</td>
      <td>$$$</td>
      <td>11126</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rus</td>
      <td>LLL</td>
      <td>21235</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Ind</td>
      <td>###</td>
      <td>34412</td>
    </tr>
    <tr>
      <th>3</th>
      <td>chi</td>
      <td>@@@</td>
      <td>42747</td>
    </tr>
    <tr>
      <th>4</th>
      <td>SA</td>
      <td>&amp;&amp;&amp;</td>
      <td>98818</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
# convert to excel
dframe.to_excel(r'C:\Users\anshs\00ANSH_PYTHON\04-10-18 [1] NUMPY\PANDAS\saved_data.xlsx'
                , index=False)
print('export to excel done')

# convert to csv
dframe.to_csv(r'C:\Users\anshs\00ANSH_PYTHON\04-10-18 [1] NUMPY\PANDAS\saved_data.csv'
                , index=True)
print('export to csv done')

export to excel done
export to csv done